@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-surface-800 text-gray-100 antialiased;
  }
  body {
    @apply min-h-screen font-sans;
  }
}

/* Scrollbar dark */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-surface-700;
}
::-webkit-scrollbar-thumb {
  @apply bg-surface-500 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}
